<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>Nouveaux dirigeant</h2>

    {% if err is defined %}
        {{ err }}
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
<input type="submit" value="S'inscrire" class="btn btn-primary">
    {{ form_end(form) }}
</body>
</html>